<h1>Projects#index</h1>

<p><strong>Projects: </strong></p>

<% @projects.each do |project| %>
    <table class="projects">
      <tr>
        <td><strong>ID:</strong></td>
        <td>
          <%= project.id %>
        </td>
        <td><strong>Name:</strong></td>
        <td>
          <%= project.name %>
        </td>
      </tr>
      <tr>
        <td><strong>Description:</strong></td>
        <td>
          <%= project.description %>
        </td>
      </tr>
      <tr>
        <td><strong>Created at:</strong></td>
        <td>
          <%= project.created_at %>
        </td>
      </tr>
      <tr>
        <td><strong>Updated at:</strong></td>
        <td>
          <%= project.updated_at %>
        </td>
      </tr>
      <tr>
        <td><strong>Url:</strong></td>
        <td><a href="<%= project.url %>"><%= project.url %></a></td>
      </tr>
      <tr>
        <td><strong>Todolists:</strong></td>
        <td><%= link_to "Show all TODO lists", :controller => "todolists", :action => "index", :id => project.id %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= link_to "Show completed TODO lists", :controller => "todolists", :action => "index_completed", :id => project.id %></td>
      </tr>
    </table>
<% end %>

<p><%= link_to "Create project", projects_new_path %></p>

<p>Find me in app/views/projects/index.html.erb</p>
