<h1>Oauth#authorize</h1>

<p> <b>Authorization instance</b>: <%= @token %> </p>

<p> <b>Code</b>: <%= @code %> </p>

<p> <b>Bearer</b>: <%= @bearer %> </p>

<p> <b>Authorization token</b>: <%= @autorizeinfo %> </p>

<p> <b>Projects</b>: <%= @projects %> </p>

<p>Find me in app/views/oauth/authorize.html.erb</p>
