<% # Form to create _todo item. %>

<%= form_tag :action => 'create_item' do %>
    <%= hidden_field_tag "projectid", @opts[:projectid] %>
    <p>
      Content:<br/>
      <%= text_field_tag "content", '' %>
    </p>
    <p>
      Due at:<br/>
      <%= date_select("due_at", "written_on") %>
    </p>
    <p>
      Select assignee:
      <%= select_tag "assignee_id", options_for_select(@opts[:people]), :include_blank => true %>
    </p>
    <%= submit_tag "Save changes" %>
<% end %>