<table class="todolists">
  <tr>
    <td><strong>ID:</strong></td>
    <td><%= @item['id'] %></td>
  </tr>
  <tr>
    <td><strong>Content:</strong></td>
    <td><%= @item['content'] %></td>
  </tr>
  <tr>
    <td><strong>Due on:</strong></td>
    <td><%= @item['due_on'] %></td>
  </tr>
  <tr>
    <td><strong>Due at:</strong></td>
    <td><%= @item['due_at'] %></td>
  </tr>
  <tr>
    <td><strong>Created at:</strong></td>
    <td><%= @item['created_at'] %></td>
  </tr>
  <tr>
    <td><strong>Updated at:</strong></td>
    <td><%= @item['updated_at'] %></td>
  </tr>
  <tr>
    <td><strong>Position:</strong></td>
    <td><%= @item['position'] %></td>
  </tr>
  <tr>
    <td><strong>Completed:</strong></td>
    <td><%= @item['completed'] %></td>
  </tr>
  <tr>
    <td><strong>URL</strong></td>
    <td><%= link_to @item['url'], @item['url'] %></td>
  </tr>
  <tr>
    <td><strong></strong></td>
    <td><%= link_to "Delete item",
                    :controller => 'todolists',
                    :action => 'delete_item',
                    :projectid => @opts[:projectid],
                    :todoid => @item['id']%></td>
  </tr>
</table>