<h1> <%= @opts[:caption] %></h1>

<p><%= link_to "Create TODO list",
               :controller => "todolists", :action => "new", :id => @opts[:projectid] %></p>

  <% @opts[:todolists].each do |todo| %>
    <table class="todolists">
      <tr>
        <td><strong>ID:</strong></td>
        <td>
          <%= todo['id'] %>
        </td>
      </tr>
      <tr>
        <td><strong>Name:</strong></td>
        <td>
          <%= todo['name'] %>
        </td>
      </tr>
      <tr>
        <td><strong>Description:</strong></td>
        <td>
          <%= todo['description'] %>
        </td>
      </tr>
      <tr>
        <td><strong>Created at:</strong></td>
        <td>
          <%= todo['created_at'] %>
        </td>
      </tr>
      <tr>
        <td><strong>Updated at:</strong></td>
        <td>
          <%= todo['updated_at'] %>
        </td>
      </tr>
      <tr>
        <td><strong>Url:</strong></td>
        <td><a href="<%= todo['url'] %>"><%= todo['url'] %></a></td>
      </tr>
      <tr>
        <td><strong>Completed:</strong></td>
        <td>
          <%= todo['completed'] %>
        </td>
      </tr>
      <tr>
        <td><strong>Position:</strong></td>
        <td>
          <%= todo['position'] %>
        </td>
      </tr>
      <tr>
        <td><strong>Items:</strong></td>
        <td>
          <%= link_to "Show items",
                      :controller => "todolists", :action => "items", :id => @opts[:projectid], :todoid => todo['id'] %>
        </td>
      </tr>
    </table>
    <br/>
  <% end %>

<p>Find me in app/views/todolists/index.html.erb</p>
