<h1>Todolists#items</h1>

<table class="todolists">
  <tr>
    <td><b>ID:</b></td>
    <td>
      <%= @todolists['id'] %>
    </td>
  </tr>
  <tr>
    <td><b>Name:</b></td>
    <td>
      <%= @todolists['name'] %>
    </td>
  </tr>
  <tr>
    <td><b>Description:</b></td>
    <td>
      <%= @todolists['description'] %>
    </td>
  </tr>
  <tr>
    <td><b>Created at:</b></td>
    <td>
      <%= @todolists['created_at'] %>
    </td>
  </tr>
  <tr>
    <td><b>Updated at:</b></td>
    <td>
      <%= @todolists['updated_at'] %>
    </td>
  </tr>
  <tr>
    <td><b>Url:</b></td>
    <td><a href="<%= @todolists['url'] %>"><%= @todolists['url'] %></a></td>
  </tr>
  <tr>
    <td><b>Completed:</b></td>
    <td>
      <%= @todolists['completed'] %>
    </td>
  </tr>
  <tr>
    <td><b>Position:</b></td>
    <td>
      <%= @todolists['position'] %>
    </td>
  </tr>

  <tr>
    <td><h4>TODOS items</h4></td>
  </tr>

  <tr>
    <td><b>Remaining:</b></td>
    <td>
      <% @remaining.each do |item| %>
          <table class="items">
            <tr>
              <td><b>ID</b></td>
              <td><%= item['id'] %></td>
            </tr>
            <tr>
              <td><b>Content</b></td>
              <td><%= item['content'] %></td>
            </tr>
            <tr>
              <td><b>Due_at</b></td>
              <td><%= item['due_at'] %></td>
            </tr>
            <tr>
              <td><b>Created_at</b></td>
              <td><%= item['created_at'] %></td>
            </tr>
            <tr>
              <td><b>Updated_at</b></td>
              <td><%= item['updated_at'] %></td>
            </tr>
            <tr>
              <td><b>Assignee</b></td>
              <table>
                <tr><td><%= "item['assignee']['id']" %></td></tr>
                <tr><td><%= "item['assignee']['type']" %></td></tr>
                <tr><td><%= "item['assignee']['name']" %></td></tr>
              </table>
            </tr>
            <tr>
              <td><b>Position</b></td>
              <td><%= item['position'] %></td>
            </tr>
            <tr>
              <td><b>URL</b></td>
              <td><%= item['url'] %></td>
            </tr>
          </table>
      <% end %>
    </td>
  </tr>


</table>

<p>Find me in app/views/todolists/items.html.erb</p>
